DISCORD_TOKEN=
DISCORD_APPLICATION_ID=1409753933353713667
DISCORD_GUILD_ID=1107074840378220645
DISCORD_PUBLIC_KEY=7d07aaf48639cbad9165340969dafdc1e3a38080d3684b8dbcffce8e1239a7d6

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.5
OPENAI_REASONING_EFFORT=high
OPENAI_TIMEOUT_MS=45000
OPENAI_MAX_RETRIES=2
OPENAI_MAX_OUTPUT_TOKENS=3000

AI_CHAT_CHANNEL_ID=1525633996766187650
AI_LEARN_CHANNEL_ID=1525634377349071050
AI_LEARN_ALLOWED_ROLE_IDS=1107100643291828224,1515017621127299303,1107099637644529684
ADMIN_ROLE_IDS=1107100643291828224,1515017621127299303,1107099637644529684
ADMIN_USER_IDS=937132477791752222
RESIGNATION_CHANNEL_ID=1221141777885691924

MEMORY_MESSAGE_LIMIT=20
MEMORY_CONTEXT_LIMIT=12

RULE_SOURCES_JSON=[{"name":"Regulament Server","url":"https://panel.pro4kings.ro/rules/4"},{"name":"Regulament Civil","url":"https://panel.pro4kings.ro/rules/5"},{"name":"Regulament Mafii","url":"https://panel.pro4kings.ro/rules/6"},{"name":"Regulament Sindicat","url":"https://panel.pro4kings.ro/rules/7"},{"name":"Regulament Jafuri","url":"https://panel.pro4kings.ro/rules/8"},{"name":"Regulament Cayo","url":"https://panel.pro4kings.ro/rules/9"},{"name":"Regulament Turfs","url":"https://panel.pro4kings.ro/rules/10"},{"name":"Regulament PC Check","url":"https://panel.pro4kings.ro/rules/11"},{"name":"Sanctiuni si pedepse","url":"https://panel.pro4kings.ro/rules/18"}]
DATABASE_PATH=./data/pro4kings_ai.sqlite
RULE_SYNC_CRON=0 4 * * 0
RULE_UPDATE_CHANNEL_ID=

DASHBOARD_ENABLED=true
DASHBOARD_PORT=3000
DASHBOARD_TOKEN=

REGISTER_COMMANDS_ON_START=true
SYNC_RULES_ON_START=true
IMPORT_KNOWLEDGE_ON_START=true

LOG_LEVEL=info
